@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));






h1, h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}



@theme {
  
  --color-kanagawa-900: #16161D;
  --color-kanagawa-800: #1F1F28;
  --color-kanagawa-700: #2A2A37;
  --color-kanagawa-600: #363646;

  --color-kanagawa-25: #F2EED6;
  --color-kanagawa-50: #E8E3C8;
  --color-kanagawa-100: #DCD7BA;
  --color-kanagawa-200: #C8C093;
  --color-kanagawa-300: #727169;

  --color-kanagawa-primaryD: #6B89C4;
  --color-kanagawa-primary: #7E9CD8;
  --color-kanagawa-primaryL: #60A5FA;

  --color-kanagawa-secondaryD: #7E6AA3;
  --color-kanagawa-secondary: #957FB8;
  --color-kanagawa-secondaryL: #B8A4E0;

  --color-kanagawa-accentD: #7FA35A;
  --color-kanagawa-accent: #98BB6C;
  --color-kanagawa-accentL: #A9D27E;

  --color-kanagawa-highlight: #E6C384;

  --color-kanagawa-success: #76946A;

  --color-kanagawa-warningD: #E68A2E;
  --color-kanagawa-warning: #FF9E3B;
  --color-kanagawa-warningL: #FFB86C;

  --color-kanagawa-errorD: #C01F1F;
  --color-kanagawa-error: #E82424;
  --color-kanagawa-errorL: #F05252;

  --color-kanagawa-info: #6A9589;

  --color-kanagawa-pinkD: #B86A83;
  --color-kanagawa-pink: #D27E99;
  --color-kanagawa-pinkL: #FF73A8;

  --color-kanagawa-orange: #FFA066;
}
